// Header module
.header {
	width: 100%;
	background-color: map-get($colors, primary);
	margin-top: 0px;
	padding: 5px;
	margin-right: 0px;
	margin-left: 0px;
}

.header a {
	color: white;
	font-size: 28px;
	text-decoration: none;
	margin-left: 25px;
}
